body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0f1214; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
